.wrapper {
  max-width: 1350px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    max-width: 1000px;
  }

  @media (max-width: 1024px) {
    max-width: 650px;
  }

  @media (max-width: 730px) {
    max-width: 300px;
  }
}