.card {
  height: 200px;
  width: 300px;
  position: relative;
  transition: all 750ms ease-out;
  transform-style: preserve-3d;
}

figure {
  backface-visibility: hidden;
  height: 100%;
  margin: 0 0;
  position: absolute;
  width: 100%;
  transform: rotateY(0deg);
  z-index: 2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.4);

  .card__image {
    width: 300px;
  }

  .card__word {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;

    .icon {
      width: 20px;
      cursor: pointer;
    }

    span {
      width: 20px;
    }
  }
}

.reverse {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  transition: all 0.8s ease-in-out;
}

.back {
  transform: rotateY(180deg);

  .card__word {
    justify-content: center;
  }
}