// .button__wrapper {
//   display: none;
// }

.button {
  display: block;
  width: 50vw;
  height: 40px;
  margin: 0 auto;
  background: $color-play;
  border-radius: 5px;
  outline: none;
}

.button_repeat {
  display: block;
  width: 10vw;
  height: 40px;
  margin: 0 auto;
  background: $color-play;
  border-radius: 50%;
  outline: none;
}

