.card {
  height: 245px;
  width: 300px;
  position: relative;
  transition: all 750ms ease-out;
  transform-style: preserve-3d;
  cursor: pointer;
}

figure {
  backface-visibility: hidden;
  margin: 0 0;
  position: absolute;
  transform: rotateY(0deg);
  z-index: 2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.4);
  transition: all 0.3s ease-in-out;
  height: inherit;

  &:hover {
    box-shadow: 0 1px 21px 5px rgba(0,0,0,.4);
  }

  .card__image {
    width: 300px;
    transition: all 0.3s ease-in-out;
  }

  .card__word {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;

    .icon {
      width: 20px;
      margin-right: 10px;
      cursor: pointer;
    }

    span {
      width: 20px;
      margin-left: 10px;
    }
  }
}

.reverse {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  transition: all 0.8s ease-in-out;
}

.back {
  transform: rotateY(180deg);

  .card__word {
    justify-content: center;
  }
}