.main-card {
  width: 300px;
  height: 280px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  color: #212529;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(89,195,34,1)),color-stop(40%,rgba(253,244,45,1)),color-stop(40%,#fff),to(#fff));
  background: linear-gradient(180deg,rgba(89,195,34,1),rgba(253,244,45,1) 40%,#fff 0,#fff);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.train {
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(34,193,195,1)),color-stop(40%,rgba(62,45,253,1)),color-stop(40%,#fff),to(#fff));
  background: linear-gradient(180deg,rgba(34,193,195,1),rgba(62,45,253,1) 40%,#fff 0,#fff);
}

.main-card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid #fff;
  object-fit: cover;
  margin: 30px auto;
}