%menu {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  width: 360px;
  height: 100vh;

  background: $color-play;

  @media (max-width: 360px) {
    width: 320px;
  }
}

.menu {
  @extend %menu;
  transform: translate(-100%, 0);

  transition: transform 0.3s linear;
  z-index: 9;
}

.menu_active {
  @extend %menu;

  transform: translate(0, 0);

  transition: transform 0.3s linear;
  z-index: 9;
}

.menu_active.train,
.menu.train {
  background: $color-train;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color-light;
  height: 50%;
  margin-top: 40%;
}

.navigation__item {
  font-size: 2.4rem;
  line-height: 30px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: #FF8000;
  font-weight: 500;
  text-decoration: underline;
}

.active_play {
  color: #ff0000;
  font-weight: 500;
  text-decoration: underline;
}