$height: 50px;
$color: $color-play;
// $color-train: ; 
$speed3: cubic-bezier(0.26, 0.48, 0.08, 0.9);

.language-switcher {
  position: relative;
  display: inline-block;
  width: calc(#{$height} * 3);
  height: $height;
  cursor: pointer;

  // Closing Animation
  -webkit-transition: transform 0.17s $speed3;
  -moz-transition: transform 0.17s $speed3;
  -ms-transition: transform 0.17s $speed3;
  -o-transition: transform 0.17s $speed3;
  transition: transform 0.17s $speed3;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .train-mode,
  .play-mode {
    position: absolute;
    font-size: #{$height / 2.5};
    top: #{$height / 4};
    color: $color-light;
    mix-blend-mode: difference;    
  }
  .train-mode {
    left: #{$height / 3.5};
  }
  .play-mode {
    right: #{$height / 4};
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color;
  box-shadow: 0 3px 64px rgba(#1e3470, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.train {
  background: $color-train;
}

.slider:before {
  position: absolute;
  content: "";
  height: 44px;
  width: 64px;
  left: 4%;    
  top: calc(50% - 22px);
  background-color: $color-light;
  box-shadow: 0 3px 64px rgba(#1e3470, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

// input:checked + .slider {
//   background: $color;
// }

input:focus + .slider {
  box-shadow: none;
}

input:checked + .slider:before {
  -webkit-transform: translateX($height);
  -ms-transform: translateX($height);
  transform: translateX($height * 1.5);
}

/* Rounded sliders */
.slider.round {
  border-radius: $height;
}

.slider.round:before {
  border-radius: $height;
}
