$color-train: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(62,45,253,1) 100%);
$color-play: linear-gradient(0deg, rgba(89,195,34,1) 0%, rgba(253,244,45,1) 100%);
$color-light: #ffffff;
$roboto: 'Roboto', sans-serif;