%hamburger-line {
  content: "";
  display: inline-block;
  position: absolute;
  background: $color-train;
  border-radius: 5px;
  width: 100%;
  height: 4px;
}

.hamburger {
  width: 30px;
  height: 25px;
  position: relative;

  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  z-index: 10;
  transition: all 0.3s linear;

  &:before {
    @extend %hamburger-line;
    top: 0;
    left: 0;
  }
  &:after {
    @extend %hamburger-line;
    bottom: 0;
    left: 0;
  }
}

.hamburger__line {
  @extend %hamburger-line;
  top: calc( 50% - 2px );
  left: 0;
}

.hamburger_rotate {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);

  transition: all 0.3s linear;
}