%hamburger-line {
  content: "";
  display: inline-block;
  position: absolute;
  background: #1b254d;
  border-radius: 5px;
  width: 100%;
  height: 4px;
  transition: all 0.3s linear;
}

.hamburger {
  width: 30px;
  height: 25px;
  position: relative;

  cursor: pointer;
  align-self: center;
  z-index: 10;
  transition: all 0.3s linear;
}

.hamburger__line {
  @extend %hamburger-line;
  top: calc( 50% - 2px );

  &:before {
    @extend %hamburger-line;
    transform: translateY(-10px);
  }
  &:after {
    @extend %hamburger-line;
    transform: translateY(10px);
  }
}

.hamburger_rotate {  
  .hamburger__line {
    background: transparent;

    &:before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}